body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('images/logpg2.avif');
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.content{
    align-self: center;
    backdrop-filter: blur(3px);
    width:500px;  
    height: 500px;
    margin: auto;
    margin-top:7% ;
    margin-bottom: 7%;
    border-color:rgb(107, 16, 107);
    border-radius:10px ;
    border-width:thin ;
    box-shadow: 0 0 4px rgb(107, 16, 107);
    border-style:solid;
      
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 70px;
    text-align: center;
    color:rgb(107, 16, 107);
    font-size: 300%;
}
.lname{
    margin-left: 30px;
    font-size: 20px;    
}
.name{
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0 0 4px rgb(107, 16, 107);
    border-style: solid;
    border-width: thin;
    border-color:rgb(107, 16, 107) ;
    padding: 7px;
    width: 65%;
    color: rgb(107, 16, 107);
}
.lemail{
    margin-left: 30px;
    font-size: 20px;
}
.email{
    margin-top: 20px;
    margin-left: 60px;
    border-radius:20px;
    background: transparent;
    box-shadow: 0 0 4px rgb(107, 16, 107);
    border-style: solid;
    border-width: thin;
    border-color: rgb(107, 16, 107);
    padding: 7px;
    width: 65%;
    color: rgb(107, 16, 107);
}
.lpassword{
    margin-left: 30px;
    font-size: 20px;
}
.password{
    margin-top: 20px;
    margin-left: 30px;
    border-radius:20px;
    background: transparent;
    box-shadow: 0 0 4px rgb(107, 16, 107);
    border-style: solid;
    border-width: thin;
    border-color: rgb(107, 16, 107);
    padding: 7px;
    width: 65%;
    color: rgb(107, 16, 107);
}
.remember{
    margin-top: 30px;
    margin-left: 50px;
    border-color: rgb(107, 16, 107);
    border-style: solid;
    
}
.re{
    font-size: 15px;
    font-family:cursive;
    margin-left:20px;
    color: rgb(107, 16, 107);
}
.button{
    margin: auto;
    margin-top: 20px;
    margin-left: 25%;
    width:50%;
    border-radius: 20px;
    border-color:white;
    box-shadow: 0 0 4px rgb(107, 16, 107);
    font-size: 20px;
    padding: 1%;
    border-style: solid;
}
.login{
    text-decoration: none;
    color: black;
}
